<div *ngIf="countries.length === 0; else country_table" class="alert alert-warning text-center">
  No hay paises
</div>

<ng-template #country_table>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#ID</th>
        <th>Bandeira</th>
        <th>Capital</th>
        <th>Población</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries; let i=index">
        <td>{{ i + 1 }}</td>
        <td>
          <img [src]="country.flags.svg" [alt]="country.name.common" width="20" height="20">
        </td>
        <td>{{ country.capital }}</td>
        <td>{{ country.population | number}}</td>
        <td>
          <a href="#" target="_blank" rel="noopener noreferrer">Ver</a>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
